:root {
	--bg-light: white;
	--bg-dark: black;
	--bg-light-checkbox-one: #bfd6bb;
	--bg-light-checkbox-two: #90d1c7;
	--bg-dark-checkbox-one: #73abb9;
	--bg-dark-checkbox-two: #335a63;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: url("./chuot.png"), auto;
}

.box {
	width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	transition: all;
}

#pinkboard {
	position: relative;
	margin: auto;
	height: 540px;
	width: 540px;
	animation: animate 1.2s infinite;
}

#pinkboard:before, #pinkboard:after {
	content: '';
	position: absolute;
	background: #d63031;
	width: 100px;
	height: 160px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
}

#pinkboard:before {
	left: 100px;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
				0 10px 10px rgba(0,0,0,0.22);
}

#pinkboard:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}

.play {
	position: fixed;
	right: 16px;
	bottom: 48px;
	width: 500px;
}

.name {
	position: absolute;
	font-size: 69px;
	font-weight: 600;
	transition: all;
	animation: animate 1.2s infinite;
}

.name1 {
	position: absolute;
	right: 300px;
	color: red;
	text-shadow: 20px -7px 7px #77325a;
}
.name2 {
	position: absolute;
	left: 300px;
	color: blueviolet;
	text-shadow: 20px -7px 7px #77325a;
}

.convert {
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 18px;
	background-color: #ccc;
	width: 150px;
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 10px;
}

.colorblack,
.colorwhite {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}

.colorblack {
	background-color: black;
}


.colorwhite {
	
	background-color: white;
}

.convert .active {
	border: 5px solid rgb(226, 73, 73);
}

.changer-bg {
	position: absolute;
	bottom: 18px;
	left: 18px;
	display: none;
}

.change-background {
	display: inline-block;
	width: 150px;
	height: 60px;
	background-image: linear-gradient(to top,
	var(--bg-light-checkbox-one),
	var(--bg-light-checkbox-two)
	);
	border-radius: 50px;
	position: relative;
	box-shadow: 0 0 0 5px var(--bg-dark),
	0 0 0 10px var(--bg-light-checkbox-one);
	transition: 0.5s;
}

.change-background input {
	display: none;
}

.change-background::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	background-color: var(--bg-dark);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 88px 0 0 0 var(--bg-light);
	transition: 0.5s;
}

body:has(input[name="change-background"]:checked){
	background-color: var(--bg-light);
}

.change-background:has(input:checked){
	box-shadow: 0 0 0 5px var(--bg-light),
	0 0 0 10px var(--bg-light-checkbox-one);
}

.change-background:has(input:checked)::before {
	left: calc(100% - 60px);
	box-shadow: -70 -3px 0 --42px var(--bg-dark);
}

#e_itexpress_bottom_left:hover {
	cursor: pointer;
}

/* Trang trí */
.topleft {
	position: fixed;
	top: 0;
	left: 0;
}

.topright {
	position: fixed;
	top: 0;
	right: 0;
}

.leftbt {
	position: fixed;
	left: 24px;
	bottom: 24px;
	z-index: 1;
}

.leftbt:hover {
	transform: translateY(-1%);
}

.bottom {
	position: fixed;
	bottom: -30px;
	left: 0;
	height: 104px;
	width: 100%;
	background: url(./ft.png);
}

.checkBox {
	display: none;
	width: 100%;
	height: 100%;
}

/* Gift Box */
.gift {
	position: fixed;
	bottom: 32px;
	left: 160px;
	z-index: 99999;
	width: 40px;
	height: 40px;
}

.gift:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.gift-box {
	position: absolute;
	top: 8px;
	left: 8px;
	display: none;
}

.gift-icon {
	margin: 8px;
	font-size: 24px;
	color: #d63031;
}

body:has(input[name="gift-box"]:checked) .modal {
	display: block;
}

@keyframes hienLen {
	from {
		transform: translateY(-50%);
		opacity: 0;
	} to {
		transform: translateY(0);
		opacity: 1;
	}
}

/* Modal */
.modal {
	position: relative;
	width: 40%;
	height: 60%;
	background-image: linear-gradient( to bottom, rgb(255, 255, 255), rgb(180, 60, 60));
	border-radius: 5px;
	z-index: 1;
	font-family: 'Dancing Script', cursive;
	display: none;
	transition: 0.5s;
	animation: hienLen 0.5s ease-in;
}

.modal__form-heading {
	--height-modal: 48px;
	height: var(--height-modal);
	text-align: center;
	line-height: var(--height-modal);
}

.modal__form-header {
	font-size: 32px;
	font-weight: 800;
}

.modal__form-icon {
	float: right;
	height: var(--height-modal);
	width: var(--height-modal);
	line-height: var(--height-modal);
	font-size: 26px;
}

.modal__form-content {
	margin: 32px;
}

.modal__form-text {
	font-size: 22px;
	font-weight: 500;
}

.feedback {
	display: none;
	position: absolute;
	bottom: 15%;
	right: 50%;
	transform: translateX(50%);
}

.feedback__header {
	font-size: 22px;
	display: block;
	margin-bottom: 22px;
}

.fb-icon {
	position: absolute;
	font-size: 48px;
	color: blue;
	right: 50%;
	transform: translateX(50%);
}

.fb-icon:hover {
	opacity: 0.5;
}


.rung {
	animation:code-pro-rung-lac 2s ease infinite;
  }
  
  @-webkit-keyframes code-pro-rung-lac {
	0% {
	  -webkit-transform:rotate(0) scale(1) skew(1deg);
	}
	10% {
	  -webkit-transform:rotate(-25deg) scale(1) skew(1deg);
	}
	20% {
	  -webkit-transform:rotate(25deg) scale(1) skew(1deg);
	}
	30% {
	  -webkit-transform:rotate(-25deg) scale(1) skew(1deg);
	}
	40% {
	  -webkit-transform:rotate(25deg) scale(1) skew(1deg);
	}
	50% {
	  -webkit-transform:rotate(0) scale(1) skew(1deg);
	}
	100% {
	  -webkit-transform:rotate(0) scale(1) skew(1deg);
	}
  }


@keyframes animate {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(.8);
	}
	60% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
